form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 1px solid #eee;
  background-color: #eee;
  max-width: 400px;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
  margin: 2rem auto;

  .form-field {
    width: 100%;

    label {
      margin-bottom: 0.5rem;
    }

    input {
      width: 100%;
    }
  }
}
